
.App {
  text-align: center;
  position: relative;
  z-index: 1; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; 
  padding: 20px;
  box-sizing: border-box;
}


.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.background-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  overflow: hidden; 
}


.background-gif {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.main-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  align-items: flex-start;
  gap: 20px;
}


.App-form {
  width: 50%;
  background-color: rgba(198, 175, 142, 0.9); 
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-group {
  color: white;
}


label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: black; 
}


input[type="text"],
input[type="file"] {
  width: calc(100% - 16px);
  padding: 8px;
  font-size: 16px;
  border: 1px solid #315c86;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type="text"]:focus,
input[type="file"]:focus {
  outline: none;
  border-color: #043441; 
}


.file-names {
  margin-top: 15px;
}


.file-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 4px;
  background-color: #56493e; 
  color: white;
}


.file-name span {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}



.file-name button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}



.file-name button:hover {
  background-color: #c82333;
}



button[type="submit"] {
  background-color: #315c86; 

  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}


button[type="submit"]:hover {
  background-color: #043441;
}


.webhook-url-input label {
  color: white;
}


.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.confirmation-modal-content p {
  margin-bottom: 20px;
  color: black;
}

.confirmation-modal-content button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.confirmation-modal-content button:first-child {
  background-color: #007bff; 
  color: white;
}

.confirmation-modal-content button:last-child {
  background-color: #dc3545; 
  color: white;
}


.submission-success {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  padding: 10px 20px;
  background-color: #28a745; 
  color: white;
  border-radius: 4px;
  z-index: 1000; 
}
